# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env

# Logs
logs/
*.log

# Editor
.idea/

# Pycache from Python chatbot
__pycache__/
*.pyc

# Optional
package-lock.json
LensBox.git/
