# IDE & system
.idea/
LensBox.git/

# Node & npm
node_modules/
package-lock.json

# Logs
logs/
*.log

# Env
.env

# Python caches
__pycache__/
*.pyc

# App data
lensbox-chatbot/responses.json
lensbox-chatbot/Data.csv
